# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Fortran language server config
.fortls

# VSCode config
.vscode

# Debug symbols
*.dSYM

# MacOS files
.DS_Store

# Coverage files
*.gcno
*.gcda
*.gcov

# Build directory
build*/

# Generated api docs
doc/html/*

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
__pycache__/


# Jupyter Notebook
.ipynb_checkpoints

# PyCharm Staff
.idea/
.fleet/

# MacOS staff
.DS_Store

docs/_build/
docs/xml/
docs_venv/

doc/*